name: Vulnerability Scan and Testbench

on:
  pull_request:
  push:

jobs:
  vulnerability_scan:
    name: Vulnerability Scan
    if: ${{ github.ref_type != 'tag' }}
    runs-on: ubuntu-latest
    steps:
      - name: Scan source for Vulnerabilities (govulncheck)
        uses: golang/govulncheck-action@v1
        with:
          go-package: -mode=source -show verbose ./src/
          repo-checkout: true
          # we need to set a version here until https://github.com/golang/go/issues/70036 is fixed..
          go-version-input: 1.24.10
          go-version-file: go.mod
  run_tests:
    name: Testbench
    if: ${{ github.ref_type != 'tag' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v6
      - name: Build shared object
        uses: magefile/mage-action@v3
        with:
          version: latest
          args: build
      - name: Run FTW tests
        uses: magefile/mage-action@v3
        with:
          version: latest
          args: ftw
      - name: Run e2e tests
        uses: magefile/mage-action@v3
        with:
          version: latest
          args: e2e
