name: Create Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
      - name: Build shared object
        uses: magefile/mage-action@v3
        with:
          version: latest
          args: build
      - name: Run FTW tests
        uses: magefile/mage-action@v3
        with:
          version: latest
          args: ftw
      - name: Run e2e tests
        uses: magefile/mage-action@v3
        with:
          version: latest
          args: e2e
      - name: Generate Release Notes
        id: notes
        uses: theory/changelog-version-notes-action@v0.1.3
      - name: Release Candidate
        uses: softprops/action-gh-release@v2
        if: ${{ contains(github.ref_name, '-rc') }}
        with:
          body_path: '${{ steps.notes.outputs.file }}'
          generate_release_notes: false
          prerelease: true
          files: |
            CHANGELOG.md
            LICENSE
            build/coraza-waf.so
      - name: Final Release
        uses: softprops/action-gh-release@v2
        if: ${{ !contains(github.ref_name, '-rc') }}
        with:
          body_path: '${{ steps.notes.outputs.file }}'
          generate_release_notes: false
          prerelease: false
          files: |
            CHANGELOG.md
            LICENSE
            build/coraza-waf.so
